*{
    margin: 0;
    padding: 0;
}
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: yellow;
    margin: 0.05em auto;
    padding: 0.5em;
}
#header{
    height: 10%;
    background-color: coral;
    margin: 1em;
    border-radius: 1em;
}
#contenido{
    height: 70%;
    background-color: yellow;
    margin: 1em;
}
#nav{
    height: 100%;
    width: 20%;
    background-color: blueviolet;
    margin-left: 0.05em;
    border-radius: 1em;
    float: left;
}
#section{
    height: 100%;
    width: 78%;
    background-color: greenyellow;
    margin-right: 0.05em;
    border-radius: 1em;
    float: right;
}
.articulo{
    height: 47%;
    width: 97%;
    background-color: hotpink;
    border-radius: 1em;
    margin: 1em;
}
#footer{
    height: 15%;
    margin: 1em;
    background-color: aqua;
    border-radius: 1em;
}